# GitHub
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_USERNAME=feixeth

# GitLab self-hosted
GITLAB_URL=https://git.zedd.fr
GITLAB_TOKEN=glpat-xxxxxxxxxxxxxxxxxxxx
GITLAB_USERNAME=felix

# Identite - emails a reconnaitre comme "moi" dans les commits
MY_EMAILS=felix@zedd.fr,felix@example.com,feixeth@gmail.com

# Securite refresh
REFRESH_SECRET=un_token_secret_fort

# Serveur
PORT=3210
